@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background: url(./images/fondo.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.capa {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    top: 0;
    left: 0;
}

/* Estilos para el encabezado */
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.header:hover {
    background-color: rgba(0, 0, 0, 0.767);
    transition: background-color 0.3s ease; 
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container .aside-menu,
.logo {
    float: left;
    line-height: 100px;
}

.container .aside-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo {
    margin-top: 2vh;
    margin-left: 2vh;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.container .menu {
    float: right;
    line-height: 100px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/* Fin de Estilos para el encabezado */

/* Menú lateral */
#aside-menu {
    display: none;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#aside-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100%;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#aside-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* Fin de Menú lateral */

/* Estilos adicionales para la gestión de actividades extraescolares */

.section {
    margin-top: 150px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container h2 {
    font-size: 24px;
    color: #333;
}

.container p {
    font-size: 16px;
    color: #666;
}

/* Fin estilos adicionales para la gestión de actividades extraescolares */

/* Estilos para la galería */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.galeria img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Agregamos bordes redondeados */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Agregamos una sombra suave */
}

/* Estilos para la imagen ampliada */
.input-ampliar {
    display: none;
}

.input-ampliar:checked + label .imagen {
    max-width: 100%; 
    cursor: zoom-out; 
}

.input-ampliar:checked + label .imagen {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 9999; 
}


/* Fin de estilo para la galería */


/* Estilos para la tabla */
.actividades table {
    border-collapse: collapse;
    width: 100%;
}

.actividades th,
.actividades td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

/* Estilo para las filas impares */
.actividades tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para el encabezado de la tabla */
.actividades th {
    background-color: #333;
    color: white;
}

/* Fin de estilos para la tabla */


/* Estilos para las noticias */
.noticia {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.noticia h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.noticia p {
    font-size: 16px;
    color: #666;
}

.noticia img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.noticia .contenido {
    display: flex;
    align-items: center;
}

.noticia .contenido img {
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.noticia .texto {
    font-size: 16px;
    color: #666;
}

/* Fin de estilos para las noticias */

/* Estilos para Contacto */
.textarea{
    width: 750px;
    height: 175px;
}

.campoemail{
    width: 300px;
}

.mapa{
    width: 750px;
}
/* Fin de estilos para contacto */